<%- include('../partials/header') %>
<h1><%= title %></h1>
<p>Select a Name to navigate to your child's page:</p>
<table class="list-table" id="kid-list">
    <thead>
        <tr>
        <th>Name</th>
        <th>Reward Chosen</th>
        <th><img src="/images/g-buck.png" width= 40px></th>
        </tr>
    </thead>
    <tbody>
        <% kids.forEach(function(k) { %>
        <tr>
            <td><a href="/kids/<%= k._id %>"><%= k.childName %></a></td>
            <% if(k.rewards.length === 0) { %>
            <td>None Selected</td>
            <td>TBD</td>
            <% } else { %>
            <td><%= k.rewards[0].title %></td>
            <td><%=k.rewards[0].points%></td>
            <% } %>
        </tr>
        <% }); %>
        </tbody>
    </table>
<p class="add-text">Add a New Child:</p>
<form method = "POST" action = "/kids">
    <input type="text" name="childName">
    <button type="submit">Add Name</button>
</form>
<%- include('../partials/footer') %>