<%- include('../partials/header') %>
<h1><%= title %></h1>
<p>Select a kid below to navigate to their page:</p>
<table id="kid-list">
    <thead>
        <tr>
        <th>Name</th>
        <th>Reward</th>
        <th>Points<br>Balance</th>
        </tr>
    </thead>
    <tbody>
        <% kids.forEach(function(k) { %>
        <tr>
            <td><a href="/kids/<%= k._id %>"><%= k.childName %></a></td>
            <td><% k.rewards.title ? k.rewards.title : k.rewards.title = "None Selected" %><%= k.rewards.title %></td>
            <td><%= k.pointsBalance %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
<p>Add a New Child Name:</p>
<form method = "POST" action = "/kids">
    <input type="text" name="childName">
    <button type="submit">Add</button>
</form>
<%- include('../partials/footer') %>