<%- include('../partials/header') %>
<h1><%= title %></h1>
<p>Select a kid below to navigate to their page:</p>
<table id="kid-list">
    <thead>
        <tr>
        <th>Name</th>
        <th>Reward Chosen</th>
        <th>Points<br>Needed</th>
        </tr>
    </thead>
    <tbody>
        <% kids.forEach(function(k) { %>
        <tr>
            <td><a href="/kids/<%= k._id %>"><%= k.childName %></a></td>
            <% if(k.rewards.length === 0) { %>
            <td>None Selected</td>
            <td>TBD</td>
            <% } else { %>
            <td><%= k.rewards[0].title %></td>
            <td><%=k.rewards[0].points%></td>
            <% } %>
        </tr>
        <% }); %>
        </tbody>
    </table>
<p>Add a New Child Name:</p>
<form method = "POST" action = "/kids">
    <input type="text" name="childName">
    <button type="submit">Add</button>
</form>
<%- include('../partials/footer') %>