<%- include('../partials/header') %>
<h1 ID="kid-header"><%= title %></h1>
<%let rewardPoints%>
<%if(kid.rewards.length === 0) { %>
    <%rewardPoints = 0%>
    <h3>Please choose a reward for <%=kid.childName%></h3>
<%}else{%>
    <h3><%=kid.rewards[0].title%> requires <%=kid.rewards[0].points%> <img src="/images/g-buck.png" width= 40px></h3>
    <%rewardPoints = kid.rewards[0].points%>
<%}%>
    <!-- reward select -->
<form method="POST" action="/kids/<%= kid._id %>/rewards?_method=PUT">
    <select name="rewardId">
        <%- rewards.map(r => `<option value="${r._id}">${r.title}</option>`).join('') %>
    </select>
    <button type="submit">Update Reward for <%= kid.childName %></button>
</form>
<a href="/rewards">View and add to reward list</a>
<br><br>
    <!-- task select -->
<form action="/kids/<%= kid._id %>/tasks" method="POST">
    <select name="taskId">
        <%- tasks.map(t => `<option value="${t._id}">${t.title}</option>`).join('') %>
    </select>
    <button type="submit">Add Task to <%= kid.childName %>'s Page</button>
</form>
<a href="/tasks">View and add to task list</a>
   <!-- task list -->
<table id="kid-task-list">
<thead>
    <tr>
    <th>Tasks Completed</th>
    <th class = "description">Description</th>
    <th><img src="/images/g-buck.png" width= 40px></th>
    </tr>
</thead>
<tbody>
<% let totalTaskPts = 0 %>
<% kid.tasks.forEach(function(t) { %>
<% totalTaskPts += t.points %>    
    <tr>
        <td><%= t.title %></a></td>
        <td class = "description"><%= t.description %></td>
        <td><%= t.points %></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<h3>Total Goody Bucks Earned: <%= totalTaskPts %></h3>
<%if (rewardPoints <= totalTaskPts && totalTaskPts !== 0) {%>
    <h3><%=kid.childName%> has earned their reward!!!</h3>
    <img ID="claps" src="/images/claps.gif" width= 80px>
<% } else { %>
    <h3>Goody Bucks Until Reward: <%= rewardPoints - totalTaskPts %></h3>
<% } %>
<form method="POST" action="/kids/<%= kid._id %>/tasks?_method=DELETE">
    <button type="submit">Clear All Tasks</button>
</form>

<%- include('../partials/footer') %>