<%- include('../partials/header') %>
<h1><%= title %></h1>
<h3><%= kid.childName %>'s next reward is:
    <% kid.rewards[0].title ? kid.rewards[0].title : kid.rewards[0].title = "not yet selected" %>
    <%= kid.rewards[0].title %></h3>
 <h3>Task Points required for reward: <% kid.rewards[0].points ? kid.rewards[0].points : kid.rewards[0].points = "0" %>
    <%= kid.rewards[0].points %></h3>   
    <!-- reward select -->
<form method="POST" action="/kids/<%= kid._id %>/rewards?_method=PUT">
    <select name="rewardId">
        <%- rewards.map(r => `<option value="${r._id}">${r.title}</option>`).join('') %>
    </select>
    <button type="submit">Update Reward for <%= kid.childName %></button>
</form>

    <!-- task select -->
<form action="/kids/<%= kid._id %>/tasks" method="POST">
    <select name="taskId">
        <%- tasks.map(t => `<option value="${t._id}">${t.title}</option>`).join('') %>
    </select>
    <button type="submit">Add Task to <%= kid.childName %>'s Page</button>
</form>

   <!-- task list -->
   <table id="kid-task-list">
    <thead>
        <tr>
        <th>Tasks Completed</th>
        <th class = "description">Description</th>
        <th>Points<br>Earned</th>
        </tr>
    </thead>
    <tbody>
    <% let totalTaskPts = 0 %>
    <% kid.tasks.forEach(function(t) { %>
    <% totalTaskPts += t.points %>    
        <tr>
            <td><%= t.title %></a></td>
            <td class = "description"><%= t.description %></td>
            <td><%= t.points %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <h3>Total Task Points Earned: <%= totalTaskPts %></h3>
    <h3>Task Points Remaining Until Reward: <%= kid.rewards[0].points - totalTaskPts %></h3>
<form method="POST" action="/kids/<%= kid._id %>/tasks?_method=DELETE">
    <button type="submit">Clear All Tasks</button>
</form>

<%- include('../partials/footer') %>