<%- include('../partials/header') %>
<h1><%= title %></h1>
<p>Sorted from least to most points:</p>
<table class="list-table" id="rewards-list">
    <thead>
        <tr>
        <th>Reward</th>
        <th class = "description">Description</th>
        <th><img src="/images/g-buck.png" width= 40px></th>
        </tr>
    </thead>
    <tbody>
        <% rewards.forEach(function(r) { %>
        <tr>
            <td><%= r.title %></a></td>
            <td class = "description"><%= r.description %></td>
            <td><%= r.points %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
<div class="new-form">
    <p class="add-text">Add a New Reward:</p>
    <form method = "POST" action = "/rewards">
        <table>
            <tr>
                <td class="add-table">
                    <small>Title</small>
                </td>
                <td class="add-table">
                    <input type="text" name="title">
                </td>
            </tr>
            <tr>
                <td class="add-table">
                    <small>Short Description</small>
                </td>
                <td class="add-table">
                    <input type="text" name="description">
                </td>
            </tr>
            <tr>
                <td class="add-table">
                    <small><img src="/images/g-buck.png" width= 30px></small>
                </td>
                <td class="add-table">
                    <input type="number" name="points" placeholder="Goody Bucks Required">
                </td>
            </tr>
        </table>
        <button type="submit">Add Reward</button>
    </form>
</div>
<%- include('../partials/footer') %>