<%- include('../partials/header') %>
<h1><%= title %></h1>
<p>Sorted from least to most points:</p>
<table id="rewards-list">
    <thead>
        <tr>
        <th>Reward</th>
        <th class = "description">Description</th>
        <th>Points<br>Required</th>
        </tr>
    </thead>
    <tbody>
        <% rewards.forEach(function(r) { %>
        <tr>
            <td><%= r.title %></a></td>
            <td class = "description"><% r.description %></td>
            <td><%= r.points %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
<div class="new-form">
    <p>Add a New Reward:</p>
    <form method = "POST" action = "/rewards">
        <small>Title:</small><input type="text" name="title"><br>
        <small>Short Description:</small><input type="text" name="description"><br>
        <small>Points Required:</small><input type="number" name="points"><br>
        <button type="submit">Add</button>
    </form>
</div>
<%- include('../partials/footer') %>