<%- include('../partials/header') %>
<h1><%= title %></h1>
<p>In alphabetical order:</p>
<table id="tasks-list">
    <thead>
        <tr>
        <th>Task</th>
        <th class = "description">Description</th>
        <th>Points<br>Earned</th>
        </tr>
    </thead>
    <tbody>
        <% tasks.forEach(function(t) { %>
        <tr>
            <td><%= t.title %></a></td>
            <td class = "description"><% t.description %></td>
            <td><%= t.points %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
<div class="new-form">
    <p>Add a New Task:</p>
    <form method = "POST" action = "/tasks">
        <small>Title:</small><input type="text" name="title"><br>
        <small>Short Description:</small><input type="text" name="description"><br>
        <small>Points Earned:</small><input type="number" name="points"><br>
        <button type="submit">Add</button>
    </form>
</div>
<%- include('../partials/footer') %>