<%- include('../partials/header') %>
<h1><%= title %></h1>
<p>In alphabetical order:</p>
<table class="list-table" id="tasks-list">
    <thead>
        <tr>
        <th>Task</th>
        <th class = "description">Description</th>
        <th><img src="/images/g-buck.png" width= 35px></th>
        </tr>
    </thead>
    <tbody>
        <% tasks.forEach(function(t) { %>
        <tr>
            <td><%= t.title %></a></td>
            <td class = "description"><%= t.description %></td>
            <td><%= t.points %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
<div class="new-form">
    <p class="add-text">Add a New Task:</p>
    <form method = "POST" action = "/tasks">
        <table>
            <tr>
                <td class="add-table">
                    <small>Title</small>
                </td>
                <td class="add-table">
                    <input type="text" name="title">
                </td>
            </tr>
            <tr>
                <td class="add-table">
                    <small>Short Description</small>
                </td>
                <td class="add-table">
                    <input type="text" name="description">
                </td>
            </tr>
            <tr>
                <td class="add-table">
                    <small><img src="/images/g-buck.png" width= 30px></small>
                </td>
                <td class="add-table">
                    <input type="number" name="points" placeholder="G-Bucks Earned">
                </td>
            </tr>
        </table>
        <button type="submit">Add Task</button>
    </form>
</div>
<%- include('../partials/footer') %>